* { margin: 0; padding: 0; border: none; }
li{
    display:inline;
    padding:30px;
    font-size: 15px;
    color:#ffffff;
    font-weight: bold;
}

ul{
    float:left;
    margin: 0;
    padding:0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-left:650px;
}
.get{
    background-image: url("https://cdn.wallpapersafari.com/58/75/PTrcfz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    height: 660px;
    width: 100%;
}
.mouse{
     padding:5%;
     padding-top: 60px;
     margin-left: 250px;
     
}
.para{
    color:white;
    padding-top: 300px;
    margin-left:50px;
    font-size:50px;
    text-align: center;
}
.pari{
    color:white;
    text-align: center;
    
    padding-top: 230px;
    margin-left:50px;
    font-size:20px;
    padding:0.5px;
    
}

nav ul li a {

    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    overflow-x: hidden;
    position: relative;
    transition: .25s ease all;
    text-decoration: none;
    line-height: 45px;
}

nav ul li a:after {
    content: " ";
    position: absolute;
    display: block;
    bottom: 0;
    left: -120%;
    height: 5px;
    width: 100%;
    background: yellow;
    transition: .5s ease all;
    }

nav ul li a:hover:after {
    left: 0;
 }

    
h1{
color: yellow;
}
.column {
    float: left;
    width: 33.33%;
    
  }
  
  .p1{
    color:black;
    font-size:40px;
    text-align: center;
}
  
@media only screen and (max-width: 600px) {
    .para .pari .mouse {
      font-size: 30px;
      width:100px;
    }
  }
