li{
    display:inline;
    padding:30px;
    font-size: 15px;
    color:#ffffff;
    font-weight: bold;
}
a:hover{
    color:yellow;

}
a:active{
    color: yellow;
}
ul{
    float:left;
    margin: 0;
    padding:0;
    overflow: hidden;
    position: fixed;
    top: 4%;
    width: 100%;
    margin-left:650px;
}
body{
    background-image: url("https://cdn.wallpapersafari.com/58/75/PTrcfz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 100%;
    opacity: 0.5;
    
}
.mouse{
     padding:5%;
     padding-top: 80px;
     margin-left: 250px;
     
}
.para{
    color:white;
    
    padding-top: 200px;
    margin-left:450px;
    font-size:50px;
}
.pari{
    color:white;
    
    padding-top: 180px;
    margin-left:300px;
    font-size:20px;
    padding:0.5px;
    
}
